<?xml version="1.0" encoding="UTF-8"?>
<Context fireRequestListenersOnForwards="false">
    <Resource name="jdbc/dashbuilder" auth="Container"
              type="javax.sql.DataSource"
              username="{{dashbuilder_db_name}}" password="{{dashbuilder_db_password}}"
              driverClassName="{{dashbuilder_db_driver}}"
              url="{{dashbuilder_db_url}}"
              maxActive="8"
            />

    <Resource name="BeanManager"
              auth="Container"
              type="javax.enterprise.inject.spi.BeanManager"
              factory="org.jboss.weld.resources.ManagerObjectFactory"/>
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>META-INF/context.xml</WatchedResource>

</Context>
